html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.wrapper {
  @apply w-screen h-screen;
  @apply overflow-hidden;
  display: flex;
  @apply bg-neutral-900 text-neutral-50;
}

.icon {
  @apply w-5 h-5;
}
